<?xml version="1.0"?>
<!--
/**
 * Storebadge_OrderTracking
 *
 * Copyright (C) 2014 Advice Online Europe AB
 *
 * This file is part of Storebadge_OrderTracking.
 *
 * Storebadge_OrderTracking is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Storebadge_OrderTracking is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Storebadge_OrderTracking. If not, see <http://www.gnu.org/licenses/>.
 *
 * @category  Storebadge
 * @package   Storebadge_OrderTracking
 * @author    Daniel Bergstrom <danjulf@gmail.com>
 * @copyright 2014 Advice Online Europe AB
 * @license   http://www.gnu.org/licenses/lgpl.html GNU LGPL
 */
-->
<config>
    <modules>
        <Storebadge_OrderTracking>
            <version>0.0.1.0</version>
        </Storebadge_OrderTracking>
    </modules>
    <global>
        <blocks>
            <storebadge_ordertracking>
                <class>Storebadge_OrderTracking_Block</class>
            </storebadge_ordertracking>
        </blocks>
        <helpers>
            <storebadge_ordertracking>
                <class>Storebadge_OrderTracking_Helper</class>
            </storebadge_ordertracking>
        </helpers>
        <models>
            <storebadge_ordertracking>
                <class>Storebadge_OrderTracking_Model</class>
            </storebadge_ordertracking>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <storebadge_ordertracking>
                    <file>storebadge_ordertracking.xml</file>
                </storebadge_ordertracking>
            </updates>
        </layout>
    </frontend>
</config>
